<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ISO8601}] SERVICE %-5p [%c.%M] %m %n" />
    </layout>
  </appender>

  <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.err" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ISO8601}] SERVICE %-5p [%c.%M] %m %n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="WARN" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>

  <logger name="com.mothsoft" additivity="false">
    <level value="WARN" />
    <appender-ref ref="STDOUT" />
  </logger>

  <root>
    <level value="WARN" />
    <appender-ref ref="STDOUT" />
  </root>

</log4j:configuration>